header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  
    z-index: 1000;     
    background-color: #10B981;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-sizing: border-box
  }
  


h1{
    margin-top: 50px;
    color: rgb(235, 230, 230);
    text-align: center;
}


p{
font-weight: bold;
color: white;
}

span{
font-weight: normal;
}


#contacts{
display: flex;
background-color: grey;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 10px;
border: 3px solid #000000;
background-color: #233c77;
padding: 10px;
}

.logo > img{
    width: 2vw;
    height: auto;
    border-radius: 50%;
}

body{
    background-color: #818ca5;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 64px;
}


footer{
    background-color: #10B981;
    padding: 16px;
    margin-top: 100px;
}

@media (max-width: 834px){
    .logo > img{
        width: 5vw;
    }
}