header{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #10B981;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-bottom: 30px;
}

body{
    background-color: #818ca5;
    color: white;
}

#titleSection{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    border: 5px solid #10B981;
    border-radius: 8px;
    padding: 16px;
}

#titleSection > img{
    width: 10vw;
    height: auto;
    border-radius: 50%;
}

#titleSection > p{
    font-size: 24px;
}

#titleSection > h1{
    font-size: 32px;
}

.logo > img{
    width: 2vw;
    height: auto;
    border-radius: 50%;
}

.project{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #233c77;
    border-radius: 8px;
    border: 2px solid black;
    padding: 16px;
}

button{
    background-color: #10B981;
}

.projects{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.normaltext{
    font-size: 16px;
    font-weight: lighter;
}

footer{
    background-color: #10B981;
    padding: 16px;
    margin-top: 100px;
}